accelerate==1.10.1
datasets==4.4.1
huggingface-hub==0.36.0
llvmlite==0.43.0
numpy==2.0.2
plotly==6.5.0
pytorch-lightning==2.5.6
sentencepiece==0.2.1
tensorboard==2.20.0
torchmetrics==1.8.2
transformers==4.57.1
wandb==0.23.0
xformers==0.0.32.post2
